.section1{
height:800px;width:100%;background-image: url("assets/backgrounds/landing.jpg");
opacity:0.9;background-size: contain;
}
.menunav{
    width:40px;height:40px;color:white;cursor:pointer;top: 100px;left: 100px;font-weight:bolder;
    font-size: 28px;position: absolute;
}

.logo{
    height:300px;width:300px;margin:0 auto;border-radius: 50%;background-image: url("assets/logoBig.png");
    background-size: cover;position: absolute;margin-top: 10%;margin-left:40%;
}
.logocontent{
    width: 100%;min-height:10px;text-align: center;background:transparent;position:absolute;
    margin-top: 27%;color:white;text-transform: capitalize;font-family:'Franklin Gothic Medium';
    font-size: 28px;
}
.midholder{
    height:200px;width:200%;display:flex;flex-direction: row;
}
.midholder1{
    height:250px;width:25%;float:left;
}
.midholderfcontent{
    background-color:#b8b3b3;height: 50%;text-align:center;
    line-height: 120px;font-weight:bold;font-size:28px;
}
.midholderscontent{
    background-color:#F15A29;height:50%;text-align:center;
    line-height:120px;font-weight:bold;color: #ccc;font-size:28px;
}
.lunch{
    height:250px;width:25%;float:left;background-image: url("assets/foodtop/lunch.jpg");
    color:white;text-align:center;background-size: cover;font-weight: bolder;font-size: 28px;
    line-height:250px;opacity:0.4;font-style:italic;
}
.breakfast{
    height:250px;width:25%;float:left;background-image: url("assets/foodtop/breakfast.jpg");
    color:white;text-align:center;background-size: cover;font-weight: bolder;font-size: 28px;
    line-height:250px;font-style:italic;
}
.dinner{
    height:250px;width:25%;float:left;background-image: url("assets/foodtop/dinner.jpg");
    color:white;text-align:center;background-size: cover;font-weight: bolder;font-size: 28px;
    line-height:250px;font-style:italic;
}
.middleholder{
    background-color: ivory;width:100%;height:auto;display: flex;flex-direction: column;
}
.fastfood ,.fastdrink{
    height:400px;width:100%;display:flex;position:relative;margin-top:50px;
    justify-content: center;
}

.fastfoodimage ,.fastdrinkimage{
    height:350px;width:350px;border:1px solid black;box-shadow: 5px 5px grey;float:left;
    position: relative;margin-left:50px;margin-right: 50px;
}
.fastfoodcont ,.fastdrinkcont{
    height: inherit;float:left;margin-left:50px;margin-right: 50px;width:500px;
}
.fastfoodcont h2 ,.fastdrinkcont h2{
    text-transform: capitalize;
}